<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<!--Navbar-->
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-start navbar-item has-text-weight-bold is-italic">DASHBOARD</div>
    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
                <span class="has-text-weight-bold">  {{username}}</span>
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item title is-6 has-text-weight-bold is-primary">
                    <strong (click)="logOut()">Log Out</strong>
                </a>
            </div>
        </div>

    </div>
</nav>


<div class="MainBackground ">
    <div class="tile is-parent">
        <article class="tile is-child notification is-medium is-primary">
            <p class="title">Current Stock</p>

            <div class="content">

                <!--<div id="myModal" class="modal">-->
                <!-- Modal -->
                <!--<div class="modal-content">-->
                <div id="myModal" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title has-text-weight-bold">Place Order</p>
                            <button class="delete" aria-label="close" (click)='CloseModal()'></button>
                        </header>

                        <section class="modal-card-body">
                            <p>
                                <span class="title is-5" *ngIf='CurrentStock != undefined '><span class="has-text-weight-bold">Stock Code : </span> {{CurrentStock.key}}</span>
                                <span class="title is-5" style="margin-left: 30px;" *ngIf='CurrentStock != undefined'> <span class="has-text-weight-bold">Stock Name :</span> {{CurrentStock.Name}}</span>
                            </p>
                            <p class="title is-5" *ngIf=' CurrentStock !=undefined '><span class="has-text-weight-bold">Price :</span> <input [readOnly]='OrderType=="market" ' [(ngModel)]='Price '> </p>
                            <p class="title is-5" *ngIf='CurrentStock !=undefined '><span class="has-text-weight-bold">Trade Action :</span> {{TradeType}}</p>

                            <div>
                                <span class="title is-5 has-text-weight-bold">Order Type : </span>
                                <select [disabled]='Editing ' [(ngModel)]='OrderType ' value="Select Order Type" class="title is-5">
                                      <option value="market" class="title is-5">
                                      Market Order
                                      </option>
                                      <hr class="dropdown-divider">
                                      <option value="limit" class="title is-5">
                                      Limit Order
                                      </option>
                                      <hr class="dropdown-divider">
                                      <option value="stop" class="title is-5">
                                      Stop Order
                                      </option>
                                </select>
                            </div>
                            <br>
                            <div>
                                <span class="title is-5 has-text-weight-bold">Flavor: </span>
                                <select [(ngModel)]='flavor ' value="Select Flavor Type" class="title is-5">
                                      <option value="allornone" class="title is-5">
                                     All or None
                                      </option>
                                      <hr class="dropdown-divider">
                                      <option value="partial" class="title is-5">
                                    Partial
                                      </option>
                                     
                                </select>
                            </div>
                            <br>
                            <div>
                                <span class="title is-5 has-text-weight-bold">Quantity : </span>
                                <input type='number ' [(ngModel)]='Quantity ' class="quantity title is-5" required>
                            </div>
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-success" (click)='SubmitOrder() '>Submit {{TradeType}}</button>
                            <button class="button close" (click)='CloseModal() '>Cancel</button>
                        </footer>
                    </div>
                </div>

                <br>
                <table style="width: 60%;">
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            Symbol
                        </td>
                        <td>
                            Price
                        </td>
                        <td>
                            Action
                        </td>
                    </tr>
                    <tr *ngFor="let item of Prices | keyvalue">
                        <td>{{item.value.Name}}</td>
                        <td>{{item.key}}</td>
                        <td>{{item.value.Value | number:'1.2-2'}}</td>
                        <td>
                            <small><button class="button is-primary is-light" [id]='item.key ' (click)='ShowModal($event, "Bid") ' >Bid</button></small>
                            <small><button class="button is-primary is-light" [id]='item.key ' style="margin-left: 20px;" (click)='ShowModal($event, "Ask") '>Ask</button></small>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </div>

    <div class="tile is-parent">
        <article class="tile is-child notification is-medium is-primary">
            <p class="title">Successful Order</p>
            <div class="content">
                <table>
                    <tr>
                        <th>
                            Trade id
                        </th>
                        <th>
                            Stock Code
                        </th>

                        <th>
                            Buyer
                        </th>
                        <th>
                            Seller
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>

                    <tr *ngFor='let details of UserHistory.matched '>
                        <td>{{details.trade_id}}</td>
                        <td>{{details.stock_code || "" | uppercase}}</td>

                        <td>{{details.buyer_name || "" | titlecase}}</td>
                        <td>{{details.seller_name || "" | titlecase}}</td>
                        <td>{{details.quantity }}</td>
                        <td>{{details.price | number:'1.2-2'}}</td>

                        <td>Successful</td>
                    </tr>

                </table>
            </div>
        </article>
    </div>

    <div class="tile is-parent">
        <article class="tile is-child notification is-medium is-primary">
            <p class="title">User History</p>
            <div class="content">
                <table>
                    <tr>
                        <th>
                            Order Id
                        </th>
                        <th>
                            Stock Code
                        </th>
                        <th>
                            Trade Type
                        </th>
                        <th>
                            Order Type
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Flavor
                        </th>
                        <th>
                            Status
                        </th>

                    </tr>
                    <tr *ngFor='let details of UserHistory.queued '>
                        <td>{{details.order_id}}</td>
                        <td>{{details.stock_code || "" | uppercase}}</td>

                        <td>{{details.trade_type || "" | titlecase}}</td>
                        <td>{{details.order_type || "" | titlecase}}</td>
                        <td>{{details.quantity }}</td>
                        <td>{{details.price | number:'1.2-2'}}</td>
                        <td>{{details.flavor || "" | titlecase}}</td>
                        <td>Pending <button [id]='details.order_id ' (click)='EditOrder($event) '>Edit</button><button [id]='details.order_id ' (click)='Delete($event) '>Delete</button></td>

                    </tr>
                    <tr *ngFor='let details of UserHistory.unmatched '>
                        <td>{{details.order_id}}</td>
                        <td>{{details.stock_code || "" | uppercase}}</td>

                        <td>{{details.trade_type || "" | titlecase}}</td>
                        <td>{{details.order_type || "" | titlecase}}</td>
                        <td>{{details.quantity }}</td>
                        <td>{{details.price | number:'1.2-2'}}</td>
                        <td>{{details.flavor || "" | titlecase}}</td>
                        <td>Failed</td>
                    </tr>
                </table>
            </div>
        </article>
    </div>


</div>