.MainBackground {
    height: 100%;
    //background-image: linear-gradient(141deg, #009e6c 0, #00d1b2 71%, #00e7eb 100%);
    background-color: #fefefe;
}
.modal-card-body{
    color: black !important;
}

select{
    padding: 10 0;
    margin-left: 20px ;
    height: 35px;
    width: 170px;
}
.quantity{
    padding: 0 10;
    margin-left: 20px;
    width: 170px;
    height: 35px;
}

.edit{
    margin-left: 15px;
}
.del{
    margin-left: 10px;
}